awscli==1.7.4
bcdoc==0.12.2
botocore==0.85.0
colorama==0.2.5
Django==1.7.2
django-cors-headers==1.0.0
djangorestframework==3.0.2
docutils==0.12
jmespath==0.5.0
pyasn1==0.1.7
python-dateutil==2.4.0
rsa==3.1.2
six==1.9.0
